In [1]:
import pandas as pd

In [16]:
data = {
    'name': ['Sukitja', 'test'],
    'location': ['กรุงเทพฯ', 'กทม.'],
}

In [18]:
df = pd.DataFrame(data)

In [19]:
df.head()

      name  location
0  Sukitja  กรุงเทพฯ
1     test      กทม.

In [20]:
# def clean_thai_province(value):
#     if value == 'กทม.' or value == 'กรุงเทพฯ':
#         return 'ฺBangkok'

In [32]:
bangkok_variations = ['กทม.', 'กรุงเทพฯ']

In [39]:
def clean_thai_province(value):
    if value in bangkok_variations:
        return 'Bangkok'

In [40]:
df['location']

0    กรุงเทพฯ
1        กทม.
Name: location, dtype: object

In [22]:
# df.location
# เหมือนแบบบน แต่ใช้แบบเดียวที่ถนัดดีกว่า

0    กรุงเทพฯ
1        กทม.
Name: location, dtype: object

In [41]:
df['location'].map(clean_thai_province)
# df['location'].apply(clean_thai_province) ได้ผลเหมือนกัน

0    Bangkok
1    Bangkok
Name: location, dtype: object

In [28]:
df2 = df.copy(deep = True)

In [30]:
df2['location'] = df['location'].map(clean_thai_province)

In [31]:
df2

      name  location
0  Sukitja  ฺBangkok
1     test  ฺBangkok